<ion-view view-title="About">
   <ion-content scroll="false" class="general">
       <div class="title chapter-0"><h1>Professor Josh Slater </h1></div>
                <div class="box">
                    <div class="title"><h2></h2></div>
                    <div class="container middle-set">
                        <img src="img/js.jpg" />
                        <p>MSD Animal Health would like to thank Professor Josh Slater PhD, Dip ECEIM, BVM&amp;S for his guidance regarding the content and methodology included in KBHH Yard Master.</p>
                    <p>
                        He is professor of equine clinical studies at the Royal Veterinary College where his main clinical and research interests are in equine infectious disease. 
                    </p>
                    </div>
                    <div class="footer"></div>
                </div> 

      <div class = "footer-bar">
            <div class="logo-bar">
                <span class="left"></span>
                <span class="right"></span>
       </div>
        </div>
  </ion-content>
</ion-view>