<ion-view view-title="SUMMARY" cache-view="false" hide-back-button="true">
    <ion-content scroll="false" class="general">
        <div class="title chapter-0"><h1>Assessment</h1></div>
        <div class="box">
            <div class="title"><h2>Assessment summary</h2></div>
            <div class="container">
                <ion-list>
                    <ion-item href="#/app/details" class="item-light">
                        Assessment details
                    </ion-item>
                    <ion-item ng-repeat="category in categoryList" href="#/app/survey/{{category.id}}" nav-transition="ios" class="item-light">
                        {{category.category}}
                    </ion-item>
                </ion-list>
            </div>
            <div class="footer"></div>
        </div>
    </ion-content>
</ion-view>