<ion-modal-view >
  <ion-content scroll="false" class="general">
      
    <div class="title chapter-0">
        <h1>Privacy Policy and Terms of Use</h1>

      </div>
      <div class="box" >
           <ion-scroll direction="y" class= "container-term">
               <div class="terms">
                   <h4>Privacy Policy</h4>
                   <p>Intervet UK Ltd (<b>“MSD Animal Health”</b>, <b>“us”</b> or <b>“we”</b>) is committed to ensuring
                       that your privacy is protected and that it complies with its obligations under the Data
                       Protection Act 1998 and other applicable laws, rules and regulations.  This policy applies to
                       personal information (as defined below) collected from MSD Animal Health online resources and
                       communications that display a link to this policy. This policy does not apply to third-party
                       online resources to which MSD Animal Health's websites may link, where MSD Animal Health does
                       not control the content or the privacy practices of such resources.  Intervet UK Ltd is a subsidiary
                       of Merck & Co., Inc., of Whitehouse Station, NJ, USA (<b>“Merck”</b>). Personal information collected by
                       MSD Animal Health in the UK may be transferred outside of the European Economic Area (<b>“EEA”</b>),
                       including to the USA. Merck has certified its adherence to the Safe Harbour framework for the transfer
                       of personal information from the EEA to the USA. This policy is consistent with Merck’s
                       <a href="http://www.merck.com/about/how-we-operate/privacy/safe-harbor-privacy-policy.html">Safe Harbour Privacy Policy.</a>
                       </p>
                       <p><b>The term "personal information" as used throughout this policy, applies to any information or
                           set of information that identifies or that is used by or on behalf of MSD Animal Health to identify an individual.</b></p>
                   <h5>1. The information we collect</h5>
                   <h5>Information you give to us</h5>
                  <p>You may give us information about you by filling in forms on KBHH Yard Master mobile application software
                      (the “<b>Application</b>”) or by corresponding with us by phone, e-mail or otherwise.  This includes
                      information you provide when you register to use the Application, subscribe to our service, and when
                      you report a problem with the Application.  The information you give us may include your name, address,
                      e-mail address and phone number.  You may also give us information relating to the subject matter of a
                      risk assessment carried out through the Application, including the personal information of others (which you
                      confirm you have obtained the necessary consents to control, and for us to process).</p>
                   <h5>Information we collect from you</h5>
                   <p>We may collect information from you that includes, but is not limited to, your location, your IP address,
                       your browser type, your URL, the date and time that you access the Application and the type of device
                       that is used to access the Application.  This information is used for statistical purposes only.
                       We may also use this information, from time to time, to develop and promote our business in
                       providing animal health goods and services.</p>
                   <p>Consistent with the purposes identified and standards set within this policy and other applicable
                       privacy notices that have been provided, in some cases MSD Animal Health consolidates and uses
                       personal information that individuals share with MSD Animal Health through various services
                       and channels, such as the telephone, surveys, websites and other online resources and
                       communications, in order to enhance the quality of services that we offer.</p>
                   <h5>2. Uses made of information</h5>
                   <p>We use information held about you in the following ways:<br/><br/>
                       (i) to carry out our obligations arising from any contracts entered into
                       between you and us and to provide you with the information, products and services that you request
                       from us (including the provision of your risk assessment results that are generated through the Application
                       (the “<b>Results</b>”) on the Application’s web portal (at: www.KBHH-yard-master.co.uk]) (the “<b>Portal</b>”).<br/><br/>
                       (ii) to notify you about changes to our service; and<br/><br/>
                       (iii) to ensure that content on the Application is presented in the most effective manner for you and for your computer<br/><br/>
                       (iv) to audit its online resources for authorised access and security.<br/><br/>
                       Personal information collected will be accessible to MSD Animal Health, including its affiliates,
                       divisions and groups worldwide, and to individuals and organisations that use personal information
                       solely for and at the direction of MSD Animal Health or Merck. Uses and disclosures of personal
                       information by external individuals and organisations acting on MSD Animal Health's behalf are
                       governed by agreements that require personal information to be protected appropriately.
                       Personal information will only be used and disclosed by MSD Animal Health and individuals
                       and organisations working on its behalf, in a manner consistent with this policy, other
                       applicable privacy notices, and as explicitly permitted or required by applicable laws, rules and
                       regulations. MSD Animal Health reserves the right to disclose personal information about you for
                       reporting to government authorities and otherwise to the extent required or explicitly authorised by applicable law.</p>
                   <h5>3. Storing your personal information</h5>
                   <p>The personal information we retain is limited to your account details, address, plus data collected for
                       the risk assessments you carry out using the Application.  We generally retain personal information for
                       as long as needed for the specific business purpose or purposes for which it was collected.  In some
                       cases, we may be required to retain information for a longer period of time based on laws or regulations
                       that apply to our business or for other necessary business purposes.<br/><br/>
                       All information you provide to us is stored on secure servers. Where we have given you (or where you have chosen)
                       a password which enables you to access certain parts of the Application, you are responsible for keeping
                       this password confidential. We ask you not to share a password with anyone.
                       The data that we collect from you may be transferred to, and stored at, a destination outside the EEA.
                       It may also be processed by staff operating outside the EEA who work for us or for one of our suppliers.
                       By submitting your personal data, you agree to this transfer, storing or processing. MSD Animal Health will
                       take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this privacy policy.
                   </p>
                   <h5>4. Disclosing Information</h5>
                   <p>We do not disclose your personal information to third parties. However, we may need to disclose your
                       personal information to third parties:<br/><br/>
                       (i) in the event that we sell or buy any business or assets, in which case we may disclose your personal
                       data to the prospective seller or buyer of such business or assets;<br/><br/>
                       (ii) if MSD Animal Health or substantially all of its assets are acquired by a third party, in which
                       case personal data held by it about its customers will be one of the transferred assets; and<br/><br/>
                       (iii) if we are under a duty to disclose or share your personal data in order to comply with any legal
                       obligation, or in order to enforce or apply our terms of use and other agreements; or to protect the
                       rights, property, or safety of MSD Animal Health, our customers, or others.<br/><br/>
                       This includes exchanging information with other companies and organisations for the purposes of
                       fraud protection and credit risk reduction.
                   </p>
                   <h5>5. “Cookies”</h5>
                   <p>The Application does not use cookies.</p>
                   <h5>6. Choice / Opting out</h5>
                   <p>Our forms do not support anonymous requests, so using the services on the Application requires that
                       a certain level of personal information is entered in.  We do not distribute or publish personally
                       identifiable information entered into the forms on the Application.<br/>
                       If you do not wish MSD Animal Health to use your personal information for the purposes described,
                       or if you wish to inform MSD Animal Health that personal information about you requires updating or
                       amending, you should contact the Compliance Steward using the details below. Please note,
                       MSD Animal Health may be required to retain or disclose your data to comply with legal or regulatory
                       requirements.<br/>
                       The Application may, from time to time, contain links to and from the websites of our partner
                       networks, advertisers and affiliates. If you follow a link to any of these websites, please note
                       that these websites have their own privacy policies and that we do not accept any responsibility
                       or liability for these policies. Please check these policies before you submit any personal
                       data to these websites.
                   </p>
                   <h5>7. Contacting us</h5>
                   <p>Should you wish to access personal information about you and to keep it accurate, complete and current,
                       or if you have questions about this policy or MSD Animal Health's information practices, you may
                       contact us at the address below. We will use reasonable efforts to respond promptly to requests,
                       questions or concerns you may have regarding access to personal information about you collected
                       online or our use of personal information about you. We may contact you for follow up information and
                       may share your inquiry with other individuals within MSD Animal Health or  another Merck company
                       that are responsible for functions related to the subject of your inquiry. Except where required by
                       law, MSD Animal Health cannot ensure a response to questions or comments regarding topics unrelated
                       to this policy or MSD Animal Health's privacy practices.
                        <br/><br/>
                       Contact details:
                        <br/><br/>
                       The Compliance Steward:<br/>
                       MSD Animal Health, Walton Manor, Walton, Milton Keynes, MK7 7AJ<br/>
                       Telephone: 01908 685 426<br/>
                       Email: compliancestewardukanimalhealth@merck.com<br/><br/>

                       Further information on the Application is available on request to:<br/>
                       MSD Animal Health, Walton Manor, Walton, Milton Keynes, MK7 7AJ<br/>
                       Telephone: +44 (0)370 060 3380<br/>
                       Email: vet-support.uk@merck.com.<br/>
                       ah-customer-services.uk@merck.com<br/>
                   </p>
                   <h5>8. Changes to this policy</h5>
                   <p>We may update this policy periodically. MSD Animal Health reserves the right to modify, add or remove
                       portions of this privacy policy at its discretion.  If we decide to change this policy, we will notify
                       you of a change on the Web Portal or, in some cases, may provide notice of the changes by email.
                   </p>
                   <h4>Terms of Use</h4>
                   <p>This end-user licence agreement (“<b>EULA</b>”) is a legal agreement between us and you in respect of the
                       Application (as defined above).<br/>
                       We licence use of the Application to you on the basis of this EULA and subject to any rules or policies applied
                       by any appstore provider or operator from whose site, located at iTunes (“<b>Appstore</b>”), that you downloaded the
                       Application (the “<b>Appstore Rules</b>”). We do not sell the Application to you. We remain the owners of the Application at all times.<br/>
                       By downloading the Application from the Appstore you agree to the terms of the licence which will bind you. T
                       he terms of the licence include this EULA and the Privacy Policy above.
                   </p>
                   <h5>1. Acknowledgments</h5>
                   <p>1.1 The terms of this EULA apply to the Application or any of the services accessible through the Application (the “<b>Services</b>”),
                       including any updates or supplements to the Application, unless they come with separate terms, in which case those terms apply.
                       If any open-source software is included in the Application, the terms of an open-source licence may override some of the terms of this EULA.
                        <br/><br/>
                       1.2 We may change these terms at any time by notifying you of a change when you next start the Application.
                       The new terms may be displayed on-screen and you may be required to read and accept them to continue your use of the Services.
                       <br/><br/>
                       1.3 From time to time updates to the Application may be issued through the Appstore. Depending on the
                       update, you may not be able to use the Services until you have downloaded or streamed the latest version
                       of the Application and accepted any new terms.
                       <br/><br/>
                       1.4 You will be assumed to have obtained permission from the owners of the mobile telephone or handheld
                       devices that are used to download or stream a copy of the Application (the “<b>Devices</b>”) where such Devices
                       are controlled, but not owned, by you. You and they may be charged by your and their service providers
                       for internet access on the Devices. You accept responsibility in accordance with the terms of this EULA
                       for the use of the Application or the Services on or in relation to any Device, whether or not it is owned by you.
                       <br/><br/>
                       1.5 The terms of the above privacy policy (the “<b>Privacy Policy</b>”) from time to time are incorporated
                       into this EULA by reference and apply to the Services. Additionally, by using the Application, you
                       acknowledge and agree that internet transmissions are never completely private or secure. You
                       understand that any message or information you send using the Application may be read or intercepted
                       by others, even if there is a special notice that a particular transmission is encrypted.
                       <br/><br/>
                       1.6 By using the Application, you consent to us collecting and using technical information about the
                       Devices and related software, hardware and peripherals to improve our products and to provide
                       the Services to you.
                   </p>

                   <h5>2. Grant and Scope of Licence</h5>
                   <p>
                       2.1 In consideration of you agreeing to abide by the terms of this EULA, we grant you a non-transferable,
                       non-exclusive licence to use the Application on the Devices, subject to these terms, the Privacy Policy
                       and the Appstore Rules, incorporated into this EULA by reference. We reserve all other rights.
                       <br/><br/>
                       2.2 You may download or stream a copy of the Application onto your Device or Devices and may view,
                       use and display the Application on the Devices for the purpose of carrying out a risk assessment in
                       accordance with the instructions provided on the Portal.
                       
                   </p>

                    <h5>3. Licence Restrictions</h5>
                   <p>Except as expressly set out in this EULA or as permitted by any local law, you agree:
                       <br/><br/>
                       (a) not to copy the Application except where such copying is incidental to normal use of the
                       Application, or where it is necessary for the purpose of back-up or operational security;
                       <br/><br/>
                       (b) not to rent, lease, sub-license, loan, translate, merge, adapt, vary or modify the Application;
                       <br/><br/>
                       (c) not to make alterations to, or modifications of, the whole or any part of the Application, or
                       permit the Application or any part of it to be combined with, or become incorporated in, any other programs;
                       <br/><br/>
                       (d) not to disassemble, decompile, reverse-engineer or create derivative works based on the whole or
                       any part of the Application or attempt to do any such thing except to the extent that (by virtue of
                       section 296A of the Copyright, Designs and Patents Act 1988) such actions cannot be prohibited because
                       they are essential for the purpose of achieving inter-operability of the Application with another software
                       program, and provided that the information obtained by you during such activities:
                       <br/><br/>
                       (i) is used only for the purpose of achieving inter-operability of the Application with another software program;<br/>
                       (ii) is not unnecessarily disclosed or communicated without our prior written consent to any third party; and<br/>
                       (iii) is not used to create any software that is substantially similar to the Application;<br/>
                       <br/><br/>
                       (e) to keep all copies of the Application secure and to maintain accurate and up-to-date records of the number
                       and locations of all copies of the Application;
                       <br/><br/>
                       (f) to include our copyright notice on all entire and partial copies you make of the Application
                       on any medium;
                       <br/><br/>
                       (g) not to provide or otherwise make available the Application in whole or in part (including object and
                       source code), in any form to any person without prior written consent from us; and
                       <br/><br/>
                       (h) to comply with all technology control or export laws and regulations that apply to the technology
                       used or supported by the Application (the “Technology”), together the “Licence Restrictions”.
                   </p>

                   <h5>4. Acceptable Use Restrictions</h5>
                   <p>You must:
                       <br/><br/>
                       (a) not use the Application in any unlawful manner, for any unlawful purpose, or in any manner inconsistent
                       with this EULA, or act fraudulently or maliciously, for example, by hacking into or inserting malicious code,
                       including viruses, or harmful data, into the Application, the Services or any operating system;
                       <br/><br/>
                       (b) not infringe our intellectual property rights or those of any third party in relation to your
                       use of the Application;
                       <br/><br/>
                       (c) not transmit any material that is defamatory, offensive or otherwise objectionable in relation
                       to your use of the Application or the Services;
                       <br/><br/>
                       (d) not use the Application in a way that could damage, disable, overburden, impair or compromise
                       our systems or security or interfere with other users; and
                       <br/><br/>
                       (e) not collect or harvest any information or data from the Services or our systems or attempt to
                       decipher any transmissions to or from the servers running the Services.

                   </p>
                   <h5>5. Intellectual Property Rights</h5>
                   <p>5.1 You acknowledge that all intellectual property rights in the Application and the Technology anywhere
                       in the world belong to us or our licensors, that rights in the Application are licensed (not sold)
                       to you, and that you have no rights in, or to, the Application or the Technology other than the
                       right to use each of them in accordance with the terms of this EULA.
                       <br/><br/>
                       5.2 You acknowledge that you have no right to have access to the Application in source-code form.
                   </p>

                   <h5>6. Limitation of Liability</h5>
                   <p>6.1 This Application is provided for guidance purposes only, and should be used by, or with advice from,
                       persons holding expertise that is relevant to the Services.  We shall not be liable to you or to any third
                       party for any claim relating to the Application or the Services, howsoever arising.
                       <br/><br/>
                       6.2 Nothing in this EULA shall limit or exclude our liability for:
                       <br/><br/>
                       (a) death or personal injury resulting from our negligence;
                        <br/>
                       (b) fraud or fraudulent misrepresentation; and
                       <br/>
                       (c) any other liability that cannot be excluded or limited by English law.
                   </p>

                    <h5>7. Termination</h5>
                   <p>7.1 We reserve the right to terminate this EULA at any time.  Following termination, neither you nor your affiliates shall be able to:<br/>
                       a) download the Application or any updates to the Application; or<br/>
                       b) access the Portal,<br/>
                       and this shall not provide you or your affiliates with any cause of action against MSD Animal Health.
                       <br/><br/>
                       7.2 On termination for any reason:<br/>

                       (a) all rights granted to you under this EULA shall cease;<br/>

                       (b) you must immediately cease all activities authorised by this EULA, including your use of the Services; and<br/>

                       (c) you must immediately delete or remove the Application from all Devices, and immediately destroy all
                       copies of the Application then in your possession, custody or control and certify to us that you have done so.
                   </p>
                    <h5>8. Events Outside Our Control</h5>
                   <p>8.1 We will not be liable or responsible for any failure to perform, or delay in performance of, any of
                       our obligations under this EULA that is caused by any act or event beyond our reasonable control, including
                       failure of public or private telecommunications networks (an “Event Outside Our Control”).
                       <br/><br/>
                       8.2 If an Event Outside Our Control takes place that affects the performance of our obligations under this EULA:
                       <br/>
                       (a) our obligations under this EULA will be suspended and the time for performance of our obligations
                       will be extended for the duration of the Event Outside Our Control; and
                       <br/>
                       (b) we will use our reasonable endeavours to find a solution by which our obligations under this EULA
                       may be performed despite the Event Outside Our Control.
                   </p>
                    <h5>9. Other Important Terms</h5>
                   <p>
                       9.1 We may transfer our rights and obligations under this EULA to another organisation, but this will not
                       affect your rights or our obligations under this EULA.
                       <br/><br/>
                       9.2 You may only transfer your rights or obligations under this EULA to another person if we agree in writing.
                       <br/><br/>
                       9.3 If we fail to insist that you perform any of your obligations under this EULA, or if we do not
                       enforce our rights against you, or if we delay in doing so, that will not mean that we have waived
                       our rights against you and will not mean that you do not have to comply with those obligations.
                       If we do waive a default by you, we will only do so in writing, and that will not mean that we will
                       automatically waive any later default by you.
                       <br/><br/>
                       9.4 Each of the clauses of this EULA operates separately. If any court or competent authority decides
                       that any of them are unlawful or unenforceable, the remaining clauses will remain in full force and effect.
                       <br/><br/>
                       9.5 Please note that this EULA, its subject matter and its formation, are governed by English law.
                       You and we both agree that the courts of England and Wales will have non-exclusive jurisdiction.
                       <br/><br/>
                       9.6  The Results are transferred to the Portal, where you may log-in and download them.  Your use
                       of the Portal is governed by separate terms to this EULA (the “Portal Terms”), and you must adhere
                       to the Portal Terms.
                       <br/><br/>
                       9.7  Neither you nor your affiliates shall assert any intellectual property rights in the Results
                       (either during the term of this EULA or following termination).
                       <br/><br/>
                       9.8 This agreement has been entered into on the date that you first download the Application.
                   </p>

                   <div class="buttons" ng-click="closeTerms()">
                      <button class="show-btn" style="z-index: 1000" >I agree with Privacy Policy and Terms of use</button>
                  </div>
                  <br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;

               </div>

           </ion-scroll>
      </div> 
      <div class = "footer-bar">
            <div class="logo-bar">
                <span class="left"></span>
                <span class="right"></span>
       </div>
        </div>
  </ion-content>
</ion-modal-view>